@page
    @model BookListRazor.Pages.BookList.IndexModel
    @{
        ViewData["Title"] = "Index";
    }

<div class="text-center">
    <h1>Welcome to Home Page</h1>
    <p class="text-md-center">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Wep apps with ASP.NET Core</a></p>
</div>